
header{
    
    overflow: hidden;

    background-color: aqua;
    text-align: center;
    width: 80%;
    margin: auto;
}

header>img{
    float: left;
    
}
.logo1{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.logo2{
    display: none;
}

header>h1{
    
    text-align: center;
    font-family: italic;  
    font-size: 2em;
    
}

nav{
    width: 80%;
    margin: auto;
    
}

nav>ul{

    display: flex;
    justify-content: center;
    

}

nav>ul>li{

    list-style: none;
    margin:0 3px;
    background-color: yellow;
}

nav>ul>li:hover{
    background-color: green;
    transition: 2s;
    transform: rotate(360deg);
}

nav>ul>li:hover>a{
    color: yellow;
}

nav>ul>li>a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}


.caja{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.principal{

    background-color:burlywood;
    float: left;

    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal>p{
    text-align: center;
    width: 60%;
    
    margin-bottom: 20px;
}

.foto2{

    display:none ;
}

/*
.principal>h2{
    text-align: center;
}

.principal>p{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.principal>figure{
   
    width: 50%;
    margin: auto;
}

.principal>figure>img{
   margin-left: 50%;
   transform: translateX(-50%);
}

aside{
    float: right;
    width: 20%;
    text-align: center;
    background-color: blueviolet;
    
}
*/
aside{
    width: 20%;
    text-align: center;
    background-color:darkgrey;
    height: 300px;
    margin-left: 4px;
}

aside>p{
    margin: 10px;
}

footer{
    background-color: coral;
    clear: both;
    text-align: center;
    width: 80%;
    margin: auto;
    font-weight: bold;
}


@media screen and (max-width:800px){

    .logo1{
        display: none;
    }
    .logo2{
        display: inline;

    }

    header>h1

    nav>ul{
       
        
    }
    nav>ul>li>a{
        font-size:1em;
    }
    
}